@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;600&display=swap');

/* Reset do HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-color: #cdc2ae;
}

/* Header */
.header-content {
    display: block;
    width: 100%;
}

.img-logo {
    width: 150px;
    margin-left: 20px;
}

span {
    color: #fff;
}

.fullStack {
    color: #c2ded1;
    transition: all 0.5s;
    cursor: pointer;
}

.fullStack:hover {
    -webkit-filter: drop-shadow(50px 50px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #354259;
    padding: 15px;
    flex-wrap: wrap;
}

.div-content {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 18px;
}

.btn {
    gap: 10px;
    color: #354259;
    text-decoration: none;
    border: 1px solid #ece5c7;
    background-color: #ece5c7;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.5s;
}

.btn:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    border: 1px solid #354259;
}

/* Section Quem sou */

.quemSou-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.quemSou h1 {
    font-size: 40px;
    color: #354259;
    font-weight: 600;

}

.quemSou p {
    max-width: 900px;
    font-size: 25px;
    text-align: justify;
    padding: 15px;
    color: #354259;
    font-weight: bold;
}

.img-logo2 {
    width: 300px;
    display: flex;
    border-radius: 10%;
    justify-content: center;
    text-align: center;
    transition: all .5s;
    border: 10px solid transparent;
}

.img-logo2:hover {
    border: 10px solid #354259;
    border-radius: 50%;
}

/* section Oque faço */

.skills {
    margin-bottom: -30px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    -webkit-filter: drop-shadow(50px 50px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}

.oquefaco {
    min-width: 100vh;
    height: 450px;
    background-color: #354259;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;
    flex-wrap: wrap;

}

.card {
    display: block;
    width: 380px;
    height: 250px;
    background-color: #fff;
    border-radius: 45px;
}

.card p {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-weight: bold;
    font-size: 25px;
    line-height: 0.1;
}

.card-title {
    text-align: center;
    justify-content: center;
    margin-top: -50px;
    transition: all 1s;
    cursor: pointer;
}

*/ .card-title:hover {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}


.laravel {
    width: 100px;
    border-radius: 20px;
}

/* section Portifolio */
.portifolio {
    display: flex;
    flex-direction: row;
    min-width: 100vh;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
}

.card-portifolio {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
}

.title-portifolio {
    text-align: center;
    padding: 40px;
    font-size: 50px;
}

.faixa-portifolio {
    width: 100%;
    background-color: #c2ded1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.title-card-portifolio {
   display: flex;
   margin-top: -155px;
}

@media (max-width: 280px) {
    .div-content {
        display: none;
        width: 100%;  
    } 

    .navbar-content {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: #354259;
        padding: 15px;
        flex-wrap: wrap;
    }
}

@media (max-width: 580px) {
    .quemSou-content {
        flex-direction: column;
    }

    .oquefaco {
        display: flex;
        gap: 80px;
        height: auto;
        padding-bottom: 25px;
    }

    .card {
        display: block;
        width: 90%;
        height: 250px;
    }

    .img-logo2 {
    
        align-items: center;
        justify-content: center;
       
    }
}
@media (max-width: 1024px ) {
    .quemSou-content {
        flex-direction: column;
    }

    .oquefaco {
        display: flex;
        gap: 80px;
        height: auto;
        padding-bottom: 25px;
    }

    .card {
        display: block;
        width: 50%;
        height: 250px;
    }

    .img-logo2 {
    
        align-items: center;
        justify-content: center;
       
    }
}

@media (max-width: 1138px ) {
    .quemSou-content {
       flex-wrap: wrap;
    }

    .oquefaco {
        display: flex;
        gap: 80px;
        height: auto;
        padding-bottom: 25px;
    }

    .card {
        display: block;
        width: 50%;
        height: 250px;
    }

    .img-logo2 {
    
        align-items: center;
        justify-content: center;
       
    }
}

@media (max-width: 500px ) {
    .quemSou-content {
       flex-wrap: wrap;
    }

    .oquefaco {
        display: flex;
        gap: 80px;
        height: auto;
        padding-bottom: 25px;
    }

    .card {
        display: block;
        width: 90%;
        height: 250px;
    }

    .img-logo2 {
        align-items: center;
        justify-content: center;
       
    }
}