@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset do HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ff0044;
}

/* Header */
.header-content {
    display: block;
    width: 100%;
}

.img-midias-sociais {
    width: 35px;
}

.midias-sociais {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 8px;
    gap: 8px;
    background-color: #fff;
}

.img-logo {
    width: 150px;
    margin-left: 20px;
}

span {
    color: #fff;
}

.fullStack {
    display: flex;
    text-align: center;
    color: #ff0044;
    transition: all 0.5s;
    cursor: pointer;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 15px;
    flex-wrap: wrap;
}

.div-content {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 18px;
}

.btn {
    gap: 10px;
    color: #354259;
    text-decoration: none;
    border: 1px solid #ece5c7;
    background-color: #ece5c7;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.5s;
    color: #ff0044;
}

.btn:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    border: 1px solid #000;
}

/* Section Quem sou */

.quemSou-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.quemSou h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}

.quemSou p {
    max-width: 900px;
    font-size: 25px;
    text-align: justify;
    padding: 15px;
    color: #fff;
}

.img-logo2 {
    width: 300px;
    display: flex;
    border-radius: 10%;
    justify-content: center;
    text-align: center;
    transition: all .5s;
    border: 10px solid transparent;
}

.img-logo2:hover {
    border: 10px solid #000;
    border-radius: 50%;
}

/* section Oque faço */

.skills {
    margin-bottom: -30px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    -webkit-filter: drop-shadow(50px 50px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}

.oquefaco {
    height: 450px;
    background-color: #354259;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    padding-top: 70px;
    display: block;
    width: 380px;
    height: 300px;
    background-color: #fff;
    border-radius: 45px;
}

.card p {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 25px;
    line-height: 0.1;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    transition: all 1s;
    cursor: pointer;
    position: relative;
}

.card img {
    padding-top: -50px;
}


.laravel {
    width: 100px;
    border-radius: 20px;
}

/* PORTIFOLIO */

.faixa-portifolio {
    color: #fff;
}

.portifolio {
    background-color: #000;
}

.img-faixa {
    width: 50px;
    align-items: center;
    margin-top: -150px;
    border-radius: 15px;
}


@media (max-width: 900px) {
  
    .div-content {
        display: none;
        flex-wrap: wrap;
    }

    .navbar-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .quemSou-content {
        display: flex;
        flex-direction: column;
    }

    .quemSou p {
        font-size: 16px;
    }

    .quemSou h1 {
        font-size: 22px;
    }

    .img-logo {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .img-logo2 {
        width: 16em;
        justify-content: center;
        border-radius: 50%;
        border: 10px solid #000;
    }

    .oquefaco {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        background-color: #000;
        padding: 15px;
    }

    .card {
        margin-top: 70px;
        width: 100%;
        border-radius: 15px;
        background-color: #fff;
        height: 200px;
    }

    .card-title {
        display: flex;
        justify-content: center;
    }

    .card img {
        width: 75px;
        margin-top: -55px;
    }

    .skills {
        font-size: 35px;
        margin-bottom: -20px;
    }

    .card p {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-weight: 400;
        font-size: 20px;
        line-height: 0;
    }

    .img-portifolio {
        font-display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 15px;
    }

    .card-portifolio {
        padding: 15px;
    }

    .title-card-portifolio {
        font-size: 16px;
        text-align: center;
        color: #fff;
    }

    .title-portifolio {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 50px;
        font-size: 35px;
        color: #fff;
        -webkit-filter: drop-shadow(50px 50px 5px rgba(0, 0, 0, .5));
        filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
        margin-bottom: -70px;
    }
    .title-card-portifolio {
        color: #fff;
        margin-top: 60px;
    }
    .img-faixa {
        width: 35px;
        justify-content: center;
        margin-top: -150px;
    }
    
}

@media (max-width: 1138px) {
    .oquefaco {
        height: auto;

    }

    .card {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .quemSou-content {
        flex-direction: column;
    }
}

@media screen and (min-width: 901px) {

    .portifolio {
        display: flex;
        flex-direction: row;
        min-width: 100vh;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 90px;
    }

    .card-portifolio {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;

    }

    .card-portifolio p {
        font-weight: bold;
    }

    .title-portifolio {
        margin-top: 60px;
        text-align: center;
        padding-bottom: 60px;
        font-size: 50px;
        color: #fff;
        -webkit-filter: drop-shadow(50px 50px 5px rgba(0, 0, 0, .5));
        filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
        margin-bottom: -87px;
    }

    .img-portifolio {
        width: 500px;
        height: 310px;
        transition: 0.4s;
        cursor: pointer;
        border-radius: 20px;
        border: 2px solid transparent;
        position: static;
    }

    .img-portifolio:hover {
        border: 2px solid #ff0044;
    }

    .card-title img {
        margin-top: -70px;
    }

    .card {
        margin-top: 70px;
    }

    .oquefaco {
        background-color: #000;
    }

    .title-card-portifolio {
        color: #fff;
        margin-top: 100px;
    }

}